{% extends "base.html" %}
{% block hide_navbar %}{% endblock %}
{% block content %}
<h2>Do we know you?...</h2>
<form method="POST" action="{% url 'login_page' %}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" style="width: 300px; padding: 8px;" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" style="width: 300px; padding: 8px;" required>
    <br><br>
    <button type="submit" style="padding: 8px;">Login</button>
</form>
<div style="margin-top: 20px;">
        <p>Don't have an account?</p>
        <a href="{% url 'signup_page' %}">
            <button style="padding: 8px; background-color: #0bb106; color: white; border: none; border-radius: 4px; cursor: pointer;">
                Sign Up
            </button>
        </a>
    </div>
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
{% endblock %}
